<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="noindex" />
{META}
<title>{SITENAME} &bull; {PAGE_TITLE}</title>

<link href="{T_THEME_PATH}/print.css" rel="stylesheet">
<!-- EVENT viewtopic_print_head_append -->
</head>
<body id="phpbb">
<div id="wrap" class="page-width">
	<a id="top" class="top-anchor" accesskey="t"></a>
	
	<div id="page-header" class="page-width">
		<div id="page-header-box" class="card" data-card="1">
			<div class="headerbar" role="banner">
				<div class="inner">
					<div id="site-description">
						<a id="logo" class="logo" href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->" title="<!-- IF U_SITE_HOME -->{L_SITE_HOME}<!-- ELSE -->{L_INDEX}<!-- ENDIF -->"><img src="{T_THEME_PATH}/images/elektryczny1_square_compress.png" data-src-hd="{T_THEME_PATH}/images/elektryczny1_square_compress.png" /></a>
						
						<div id="site-description-text">
							<h1 class="sitename" href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->">{SITENAME}</h1>
							<span>{SITE_DESCRIPTION}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="page-body">
		<div class="forum-info-group">
			<div class="forum-info">
				<div class="forum-title-group">
					<!-- EVENT viewforum_forum_title_before -->
					<h2 class="forum-title">{L_TOPIC}: <!-- EVENT viewtopic_topic_title_prepend --><a href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a><!-- EVENT viewtopic_topic_title_append --></h2>
					<!-- EVENT viewtopic_topic_title_after -->
					<!-- IF MODERATORS -->
					<p class="forum-mods"><strong><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE -->{L_MODERATORS}<!-- ENDIF -->{L_COLON}</strong> {MODERATORS}</p>
					<!-- ENDIF -->
				</div>

				<!-- IF FORUM_DESC and $FORUM_DESC_ON_TOPIC == 1 --><p class="forum-desc">{FORUM_DESC}</p><!-- ENDIF -->
			</div>
		</div>
		
		<!-- BEGIN postrow -->
		<div class="post bg2">
			<div class="inner">
				<div class="postbody">
					<h3>{postrow.POST_SUBJECT}</h3>
					<p class="author"><!-- IF S_IS_BOT -->{postrow.MINI_POST_IMG}<!-- ELSE --><a href="{postrow.U_MINI_POST}">{postrow.MINI_POST_IMG}</a><!-- ENDIF --><span class="responsive-hide">{L_POST_BY_AUTHOR} <strong>{postrow.POST_AUTHOR_FULL}</strong> &raquo; </span>{postrow.POST_DATE} </p>
					<div class="content">{postrow.MESSAGE}</div>
				</div>
			</div>
		</div>
		<!-- END postrow -->
	</div>
	<hr />
	<div id="page-footer" class="page-width" role="contentinfo">
		<div class="page-number">{S_TIMEZONE}<br />{PAGE_NUMBER}</div>
		<div class="copyright">
			<!-- EVENT overall_footer_copyright_prepend -->
			{CREDIT_LINE}
			<br />Modyfikacja <a href="http://www.artodia.com/xenforo-styles/simplicity/">stylu</a> wykonana przez <a href="https://github.com/k911/elektryczny/graphs/contributors">zespół developerów</a> forum elektryczny.tk
			<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
			<!-- EVENT overall_footer_copyright_append -->
		</div>
	</div>
</div>

</body>
</html>
