/* FIXES */
/* ---fix for icon displaying on the user's name */
.navbar.secondary > ul > li > a.small-icon {
	padding-left: 1.5em !important;
}
/* --- spoiler à la wykop.pl */
.spoiler {
	font-size: 14px;
}
a.spoiler {
	font-variant: small-caps;
}
a.spoiler:hover {
	text-decoration: none;
}
code.spoiler {
	font-family: monospace;
	font-size: 14px;
	display: none;
}

/* --- youtube bbcode */
.videoWrapper {
  position: relative;
  padding-bottom: 12.25%;
  padding-top: 25px;
  height: 0;
  max-width: 440px;
  min-height: 150px;
  display: block;
}
.videoWrapper iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

/* utility classes */
.btn-separator {
	margin-left: 1.5em;
	display: inline;
}

/* reputation system */
.post-rate-block {
	float: right;
	margin-right: 12px;
	font-size: 20px;
	& .button-circle {
		&:hover {
			color: $overlay-color;
			text-decoration: none;
		}
		&.rate-good-icon {
			color: #43A047; // green-600
			&:hover {
				color: #1B5E20; // green-900
			}
		}
		&.rate-bad-icon {
			color: #E53935; // red-600
			&:hover {
				color: #B71C1C; // red-900
			}
		}
		&.post-reputation {
			color: $muted-color;
			&.negative {
				color: #E53935; // red-600
			}
			&.positive {
				color: #43A047; // green-600
			}
		}
		&.rated_good, &.rated_bad {
			display: none;
		}
	}
}

/** 
 * CARD EFFECT PRESET
 * TODO: When attr implementend do -> opacity = attr(data-card-opacity)
 */
.card[data-card] {
	position: relative;
	/* Primary navbar nav tabs card effect with customizable opacity */
	&:after {
		@include card($card-default);
		opacity: 1;
		// Block covering all #page-header-box content
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		pointer-events: none;
	}
}
.card[data-card="0"]:after {
	opacity: 0;
}
