// Blank Material Design Icon replacement
%imageset-glyph {
	position: relative;
	text-indent: 999px;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		font-size: 13px;
		line-height: 13px;
		vertical-align: baseline;
		font-weight: normal;
		font-style: normal;
		text-transform: none;
		text-indent: 0;
		pointer-events: none;
	}
}

%imageset-mdi {
	@extend %imageset-glyph;
	&:after {
		font-family: "Material Design Icons";
	}
}

%imageset-16 {
	width: 16px;
	height: 16px;
	&:after {
		top: 50%;
		bottom: auto;
		margin-top: -8px;
		height: 16px;
		font-size: 14px;
		line-height: 16px;
	}
}

%imageset-12 {
	width: 12px;
	height: 12px;
	&:after {
		top: 50%;
		bottom: auto;
		margin-top: -6px;
		height: 12px;
		font-size: 10px;
		line-height: 12px;
	}
}

%imageset-arrow {
	// For latest topic arrows
	width: 11px;
	height: 10px;
	&:after {
		top: 50%;
		bottom: auto;
		margin-top: -5px;
		height: 10px;
		font-size: 10px;
		line-height: 10px;
	}
}

// Former imageset
span.imageset {
	display: inline-block !important;
	background: transparent none 0 0 no-repeat;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}

// Global imageset items
// .imageset.icon_post_target {
// 	@extend %imageset-mdi;
// 	margin-top: -3px;
// 	top: 2px;
// 	width: 12px;
// 	height: 13px;
// 	&:after {
// 		top: 50%;
// 		bottom: auto;
// 		margin-top: -6px;
// 		height: 13px;
// 		font-size: 11px;
// 		line-height: 13px;
// 		content: '\f152';	// icon: mdi-arrow-right-bold-circle-outline
// 		text-align: left;
// 	}
// 	.rtl &:after {
// 		content: '\f14d';	// icon: mdi-arrow-left-bold-circle-outline
// 	}
// }
// .imageset.icon_post_target_unread {
// 	@extend .imageset.icon_post_target;
// 	&:after {
// 		content: '\f151';	// icon: mdi-arrow-right-bold-circle
// 	}
// 	.rtl &:after {
// 		content: '\f14c';	// icon: mdi-arrow-left-bold-circle
// 	}
// }
.imageset.icon_post_target, .imageset.icon_post_target_unread {
	background-size: 11px 9px;
	padding-left: 11px;
	padding-top: 9px;
}
.imageset.icon_topic_attach {
	@extend %imageset-mdi;
	@extend %imageset-12;
	&:after {
		content: '\f15d';	// icon: mdi-attachment
	}
}
.imageset.icon_topic_latest {
	@extend %imageset-mdi;
	@extend %imageset-arrow;
	&:after {
		content: '\f150';	// icon: mdi-arrow-right-bold
	}
}
.imageset.icon_topic_newest {
	@extend .imageset.icon_topic_latest;
	@extend %imageset-secondary-color;
}
.imageset.icon_topic_reported {
	@extend %imageset-mdi;
	@extend %imageset-16;
	@extend %imageset-secondary-color;
	&:after {
		content: '\f125';	// icon: mdi-alert
	}
}
.imageset.icon_topic_deleted {
	@extend %imageset-mdi;
	@extend %imageset-16;
	@extend %imageset-secondary-color;
	&:after {
		content: '\f252';	// icon: mdi-close-octagon
	}
}
.imageset.icon_topic_unapproved {
	@extend %imageset-mdi;
	@extend %imageset-16;
	@extend %imageset-secondary-color;
	&:after {
		content: '\f1a3';	// icon: mdi-block-helper
	}
}
.imageset.icon_topic_poll {
	@extend %imageset-mdi;
	@extend %imageset-12;
	&:after {
		content: '\f50e';	// icon: mdi-poll
	}
}

.imageset.icon_contact {
	@extend %imageset-mdi;
	@extend %imageset-12;
	&:after {
		content: '\f46c';	// icon: mdi-more
	}
	&:hover:after {
		content: '\f236';	// icon: mdi-chevron-down
	}
	.dropdown-up &:hover:after {
		content: '\f239';	// icon: mdi-chevron-up
	}
}


// Icon images
// ----------------------------------------
%icon-image {
	position: relative;
	background-image: none;
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		height: 14px;
		margin-top: -7px; //test
		text-align: center;
		font-size: 12px;
		line-height: 14px;
		vertical-align: baseline;
		font-weight: normal;
		font-style: normal;
		text-transform: none;
		text-indent: 0;
		pointer-events: none;
	}
	&.small-icon:after {
		width: 18px;
		text-align: center;
	}
}

%icon-image-mdi {
	@extend %icon-image;
	&:after {
		font-family: "Material Design Icons";
	}
}

%icon-search-old {
	@extend %icon-image-mdi;
	&:after {
		content: '\f43b';	// icon: mdi-magnify
	}
}

%icon-search-new {
	@extend %icon-search-old;
}

%icon-search-misc {
	@extend %icon-search-old;
}

.icon-acp {
	@extend %icon-image-mdi;
	&:after {
		content: '\f572';	// icon: mdi-security
	}
}
.icon-bookmark {
	@extend %icon-image-mdi;
	&:after {
		content: '\f1b6';	// icon: mdi-bookmark
	}
}
.icon-bump {
	@extend %icon-image-mdi;
	&:after {
		content: '\f634';	// icon: mdi-twitter-retweet
	}
}
.icon-contact {
	@extend %icon-image-mdi;
	&:after {
		content: '\f284';	// icon: mdi-contact-mail
	}
}
.icon-delete-cookies {
	@extend %icon-image-mdi;
	&:after {
		content: '\f2b5';	//icon: mdi-delete
	}
}
.icon-download {
	@extend %icon-image-mdi;
	&:after {
		content: '\f2cf';	// icon: mdi-download
	}
}
.icon-faq {
	@extend %icon-image-mdi;
	&:after {
		content: '\f3ef';	// icon: mdi-information
	}
}
.icon-home {
	@extend %icon-image-mdi;
	&:after {
		content: '\f3d1';	// icon: mdi-home-variant
	}
	&.breadcrumbs:after {
		text-align: left;
	}
}
.icon-logout {
	@extend %icon-image-mdi;
	&:after {
		content: '\f435';	// icon: mdi-logout
	}
}
.icon-login {
	@extend %icon-image-mdi;
	&:after {
		content: '\f434';	// icon: mdi-login
	}
}
.icon-mark {
	@extend %icon-image-mdi;
	&:after {
		content: '\f222';	// icon: mdi-check
	}
}
.icon-mcp {
	@extend %icon-image-mdi;
	&:after {
		content: '\f390';	// icon: mdi-gavel
	}
}
.icon-members {
	@extend %icon-image-mdi;
	&:after {
		content: '\f10d';	// icon: mdi-account-multiple
	}
}
.icon-notification {
	@extend %icon-image-mdi;
	&:after {
		content: '\f193';	// icon: mdi-bell-outline
	}
	&.non-zero:after {
		content: '\f191';	// icon: mdi-bell
	}
}
.icon-pages {
	@extend %icon-image-mdi;
	&:after {
		content: '\f285';	// icon: mdi-content-copy
	}
}
.icon-pm {
	@extend %icon-image-mdi;
	&:after {
		content: '\f457';	// icon: mdi-message-outline
	}
	&.non-zero:after {
		content: '\f453';	// icon: mdi-message
	}
}
.icon-print {
	@extend %icon-image-mdi;
	&:after {
		content: '\f519';	// icon: mdi-printer
	}
}
.icon-profile {
	@extend %icon-image-mdi;
	&:after {
		content: '\f103';	// icon: mdi-account
	}
}
.icon-register{
	@extend %icon-image-mdi;
	&:after {
		content: '\f113';	// icon: mdi-account-plus
	}
}
.icon-search, .responsive-search a	{ @extend %icon-search-old; }
.icon-search-active			{ @extend %icon-search-old; }
.icon-search-advanced		{ @extend %icon-search-old; }
.icon-search-new			{ @extend %icon-search-new; }
.icon-search-self			{ @extend %icon-search-misc; }
.icon-search-unanswered		{ @extend %icon-search-new; }
.icon-search-unread			{ @extend %icon-search-new; }
.icon-sendemail {
	@extend %icon-image-mdi;
	&:after {
		content: '\f2e3';	// icon: mdi-email
	}
}
.icon-subscribe {
	@extend %icon-image-mdi;
	&:after {
		content: '\f229';	// icon: mdi-checkbox-marked-circle
	}
}
.icon-team {
	@extend %icon-image-mdi;
	&:after {
		content: '\f6a2';	// icon: mdi-worker
	}
}
.icon-ucp {
	@extend %icon-image-mdi;
	&:after {
		content: '\f582';	// icon: mdi-settings
	}
}
.icon-unsubscribe {
	@extend %icon-image-mdi;
	&:after {
		content: '\f22a';	// icon: mdi-checkbox-marked-circle-outline
	}
}
.icon-new-posts {
	@extend %icon-image-mdi;
	&:after {
		content: '\f277';	// icon: mdi-comment-multiple-outline // no new posts icon
	}
}
.icon-forums {
	@extend %icon-image-mdi;
	&:after {
		content: '\f381';	// icon: mdi-forum
	}
}
.icon-chat {
	@extend %icon-image-mdi;
	&:after {
		content: '\f45b';	// icon: mdi-message-text
	}
}
.icon-time {
	@extend %icon-image-mdi;
	&:after {
		content: '\f246';	// icon: mdi-clock
	}
}

// Thanks for posts mod
.icon-thanks {
	@extend %icon-image-mdi;
	&:after {
		content: '\f601';	// icon: mdi-thumb-up
	}
}

.icon-thanks_toplist {
	@extend %icon-image-mdi;
	&:after {
		content: '\f5bd';	// icon: mdi-star-circle
	}
}