// Mixins
@mixin section {
	background: $block-background;
	border: 0 solid $block-border;
	border-radius: $border-radius;
}

@mixin section-forum {
	@include section;
	padding: 5px;
}

// Undo section mixin
@mixin section-empty {
	background: transparent;
	border-width: 0;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
}

// Heading block
@mixin section-heading {
	margin: -5px -10px 5px;
	border-radius: max(0, $border-radius - 1px);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background: $heading-bg;
	border: 0 solid $heading-border;
	padding: 5px;
	text-transform: none;
	font-size: $heading-font-size;
	line-height: $line-height;
	font-weight: normal;
	color: $heading-color;

	@if $border-radius > 1px {
		@media (max-width: 700px) {
			border-radius: 0;
		}
	}

	a {
		color: $heading-link;
		&:hover {
			color: $heading-link-hover;
		}
	}
}

@mixin section-heading-forum {
	@include section-heading;
	// @include card($lite-card-depth);
	@if $split-forums == false {
		margin: -5px -5px 0;
	}
	@else {
		@include section-heading-separate;
		margin: 0;
	}
}

@mixin section-heading-separate {
	border-radius: $border-radius;
}

@mixin section-heading-cp {
	background-color: transparent;
	color: $stats-title-color;
	background-image: none;
	a {
		color: $link-color;
		&:hover {
			color: $link-hover-color;
		}
	}
}

@mixin table-heading {
	background: $heading-bg;
	border: 0 solid $heading-border;
	color: $heading-color;

	@if $border-radius > 1px {
		&:first-child {
			border-top-left-radius: max(0, $border-radius - 1px);
		}
		&:last-child {
			border-top-right-radius: max(0, $border-radius - 1px);
		}
	}
}

@mixin table-heading-transparent {
	background: transparent;
	color: inherit;
}

@mixin placeholder {
	&::-moz-placeholder {
		@content 
	}
	&::-webkit-input-placeholder {
		@content
	}
	&:-ms-input-placeholder {
		@content
	}
}

@mixin tabbed-nav-layout-all {
	@if ($use-wrapper) {
		&, #wrap & {
			@content;
		}
	}
	@else {
		@content;
	}
}

@mixin tabbed-nav-layout-alt {
	@if ($use-wrapper) {
		@content;
	}
}

@mixin tabbed-nav-layout-default {
	@if ($use-wrapper) {
		#wrap & {
			@content;
		}
	}
	@else {
		@content;
	}
}

/// Gives a card depth effect.
/// @param {Number} $depth - depth level (between 1 and 5)
/// @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
/// @requires {function} top-shadow
/// @requires {function} bottom-shadow
@mixin card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);  
  }
}