@page {
    margin: 0.5cm;
}
*, *:after, *:before {
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
}
html, body {
	background-color: transparent;
}
a[href].postlink:after {
	content: " (" attr(href) ")";
}
abbr[title]:after {
    content: " (" attr(title) ")";
}
/* Exceptions */
.ir a:after, a.logo:after, .post-rate-block a:after, .boxprofile a:after {
    content: '' !important;
}
pre, blockquote, div.post {
    page-break-inside: avoid;
}
thead {
    display: table-header-group;
}
tr, img {
    page-break-inside: avoid;
}
img {
    max-width: 100% !important;
}
p,h2, h3 {
    orphans: 3;
    widows: 3;
}
h2, h3 {
    page-break-after: avoid;
}

/* custom */
a.spoiler, div.jumpbox-box, ul.post-buttons {
	display: none;
}
code.spoiler {
	display: inline;
	font-style: italic;
	&:before {
		color: $primary-color-accent-dark;
		content: 'SPOILER(';
	}
	&:after {
		color: $primary-color-accent-dark;
		content: ')';
	}
}

#page-header {
	#page-header-box {
		background: none;
		padding-top: 0 !important;
		& .navbar.tabbed {
			display: none;
		}
		#site-description {
			padding: 0;
			#site-description-text h1 {
				color: $primary-color;
			}
			#site-description-text span {
				color: $muted-color;
			}
		}
	}
	.navbar, .search-header {
		display: none;
	}
}
#page-body {
	h2.topic-title {
		margin: 0;
		padding: .5em;
	}
	div.navbar, div.action-bar, .stat-block {
		display: none;
	}
}
#qr-postform, #wrap div.navbar, form#viewtopic, .hide-on-print {
	display: none;
}