// Configuration file
$show-logo:								true;	// true or false
$center-logo:							false;	// true or false
$logo-block-padding:					0;
$logo-width:							96px;
$responsive-hide-logo:					false;	// Hide logo on mobile devices. true or false

$show-forum-title:						true;	// true or false

$profile-width:							150px;
$profile-side:							left;	// left or right
$post-margin:							($profile-width + 10px);

$use-wrapper:							false;	// true or false
$max-width:								none;	// Maximum width. Set to "none" to make layout fluid

$split-forums:							true;	// Changes layout of forums list. Values are true or false

$tabbed-navigation:						false;	// true or false. Toggles tabbed navigation layout

//
// Fonts
//

$font-size:								11px;	// Base font size
$font-family:							'Roboto', sans-serif;	// Default font
$line-height:							1.4;	// Line height

$h1-font-size:							$font-size + 10px;
$h1-font-family:						'Roboto', sans-serif;

$h2-font-size:							$font-size + 8px;
$h2-font-family:						'Roboto', sans-serif;

$paragraph-line-height:					1.3;

$nav-primary-font-size:					$font-size + 1px;
$nav-secondary-font-size:				$font-size + 1px;

$card-default:							1;
$heading-font-size:						$font-size + 4px;
$panel-heading-font-size:				$font-size + 4px;

$list-heading-font-size:				$font-size + 1px;
$list-heading-line-height:				$font-size + 7px;
$list-heading-font-family:				'Roboto', sans-serif;

$forum-heading-font-size:				$list-heading-font-size + 2px;
$forum-heading-font-family:				$list-heading-font-family;
$forum-heading-font-weight:				500;

$button-font-size:						$font-size + 3px;
$button-line-height:					floor(($font-size + 8px) / 2) * 2;	// Convert to even number
$button-glyph-font-size:				10px; //floor($font-size / 2) * 2;	// Convert to even number

$dropdown-header-font-size:				$font-size + 2px;
$dropdown-header-font-family:			'Roboto', sans-serif;
$dropdown-header-line-height:			30px; //todo: delete

$forum-link-font-size:					$font-size + 5px;
$forum-link-line-height:				1.2;
$forum-link-font-family:				'Roboto', sans-serif;

$forum-list-column-font-size:			$font-size + 1px;
$forum-list-last-column-font-size:		$font-size;
$forum-list-description-font-size:		$font-size + 2px;

$topic-link-font-size:					$font-size + 4px;
$topic-link-font-family:				$forum-link-font-family;

$tab-font-size:							$font-size;
$tab-line-height:						$tab-font-size * 2 + 4px;

// Posts
$post-content-font-size:				$font-size + 2px;	// Post content
$post-content-line-height:				1.4;
$post-content-font-family:				'Roboto', sans-serif;

$post-title-font-size:					$font-size + 5px;
$post-title-line-height:				1.25;
$post-title-font-family:				$h2-font-family;

$post-signature-font-size:				$font-size + 1px;
$post-quote-font-size:					$post-content-font-size - 1px;
$post-code-font-size:					$post-content-font-size - 1px;

$post-block-title-font-size:			$post-quote-font-size;	// Quote title, code title
$post-block-title-line-height:			1.6;
$post-block-title-font-family:			$post-content-font-family;

$post-profile-font-size:				$font-size;
$post-profile-line-height:				$line-height;

// Forms
$input-button-font-size:				$font-size + 2px;
$input-button-font-family:				'Roboto', sans-serif;
$bbcode-button-font-size:				$font-size + 1px;

//
// Color palette
//

// Absolute black and white colors. Reverse them for dark styles
$black-color:							#000;		// Main color to mix with. Black for light styles, white for dark styles
$white-color:							#fff;		// Opposite of $black-color

// Primary colors
$primary-color:							#2196F3;	// Blue 500
$primary-color-dark:					#1565C0;	// Blue 800
$primary-color-content:					#64B5F6;	// Blue 300

$primary-color-variant:					#03A9F4;	// Light Blue 500
$primary-color-variant-dark:			#01579B;	// Light Blue 900
$primary-color-variant-content:			#4FC3F7;	// Light Blue 300

$primary-color-accent:					#2979FF;	// Blue A400
$primary-color-accent-dark:				#2962FF;	// Blue A700

// Secondary colors
$secondary-color:						#FFC107;	// Amber 500
$secondary-color-dark:					#FF6F00;	// Amber 900

$secondary-color-accent:				#FFC400;	// Amber A400
$secondary-color-accent-dark:			#FFAB00;	// Amber A700

// Page colors							// Grey 300
$page-background:						#E0E0E0;	// HTML element
$content-background:					#E0E0E0;	// Page inside content wrapper
$content-border-color:					#E0E0E0;	// Border color for content wrapper

$overlay-color:							$white-color;	// Text on top of sections that use colorful background.
										// Grey 100
$block-background:						#F5F5F5;	// Background of blocks // should use shadow not color
$block-background-reported:				#f5ede9;	// Background for reported posts

// Global color values
$text-color:							#141414;	// Text color
$bold-text-color:						$black-color;	// Text color with higher contrast to background. #000 or #fff
$post-text-color:						$text-color;	// Text inside posts
$link-color:							$primary-color;	// Links
$link-hover-color:						$primary-color-variant-dark;	// Links, hover state
$muted-color:							#BDBDBD;	// Gray color
$faint-color:							#E0E0E0;	// Gray color
$rules-color:							$secondary-color;	// Forum rules

//
// Calculated colors
//

// Misc. DO NOT EDIT!
$light:									if(lightness($black-color) < 50%, true, false);

// Blocks
$block-background2:						#f6f6f6;	// Blocks with .bg2 background color
$block-background3:						#f8f8f8;	// Blocks with .bg3 background color - mostly UCP/MCP and posting form

$block-border:							#e0e0e0;	// Border color for blocks
$border-radius:							0;		// Main border radius
$block-top-border:						lighten($block-background, 10%);	// Top border of forums in forums list
$block-bottom-border:					darken($block-background, 5%);		// Bottom border of forums in forums list
$block-inner-border:					$block-bottom-border;	// Border inside blocks where there is only 1 border instead of top/bottom borders

$block-title-color:						desaturate($link-color, 5%);	// Title inside blocks, such as post title

// Breadcrumbs

$breadcrumb-color:						$primary-color;
$breadcrumb-color-hover:				$secondary-color-dark;

// Tabs
$tab-color:								$faint-color;
$tab-background:						$primary-color;

$tab-hover-color:						$overlay-color;
$tab-hover-background:					$primary-color;
$tab-hover-border-bottom:				$secondary-color-accent;

$tab-selected-color:					$overlay-color;
$tab-selected-background:				$primary-color;
$tab-selected-border-bottom:			$secondary-color-accent;

$tab-border-bottom-style:				solid;
$tab-border-bottom-width:				2px;

// Header
$header-bg:								$content-background;
$header-text:							$text-color;
$header-link:							$overlay-color;
$header-link-hover:						mix($header-link, $header-bg, 80%);

// Primary navigation

$primary-nav-card-depth:				$card-default;		//1-5 else none
$primary-nav-bg:						$primary-color-dark;
$primary-nav-color:						$faint-color;

$primary-nav-selected-bg:				$primary-color;
$primary-nav-selected-color:			$overlay-color;
$primary-nav-selected-bd-color:			$secondary-color;

$primary-nav-hover-bg:					$primary-color;
$primary-nav-hover-color:				$overlay-color;
$primary-nav-hover-bd-color:			$secondary-color;

$primary-nav-alert-bg:					hsl(0, saturation($secondary-color), lightness($secondary-color));
$primary-nav-alert-color:				$overlay-color;
$primary-nav-alert-shadow:				1px 1px 3px rgba(0, 0, 0, .2);

// Secondary navigation
$secondary-nav-hover-link:				$link-hover-color;

// Dropdown
$dropdown-bg:							$block-background;
$dropdown-border:						$block-background;
$dropdown-shadow:						1px 3px 5px rgba(0, 0, 0, 0.5);
$dropdown-shadow-up:					1px 0 5px rgba(0, 0, 0, 0.5);
$dropdown-inner-border:					if($light, darken($dropdown-bg, 10%), lighten($dropdown-bg, 10%));

$dropdown-heading-top:					$dropdown-border;
$dropdown-heading-bottom:				$dropdown-heading-top;
$dropdown-heading-color:				$primary-color;
$dropdown-heading-link-color:			$primary-color;
$dropdown-heading-link-hover-color:		$primary-color-dark;

$forum-description-color:				$overlay-color;
$forum-description-bg:					mix($black-color, $block-background, 75%);

// Notifications
$notification-unread-bg:				#FFFFFF;
$notification-unread-color:				$primary-color-dark;
$notification-unread-strong-color:		$secondary-color-accent-dark;

$dropdown-notification-bg:				$block-background;
$dropdown-notification-hover-bg:		$block-background2;
$dropdown-notification-color:			$link-color;
$dropdown-notification-strong-color:	#9E9E9E; // Grey 500

// Panels
$panel-title-color:						desaturate(if($light, darken($primary-color, 10%), lighten($primary-color, 10%)), 25%);
$panel-title-border:					$block-inner-border;

// Content outside of blocks
$page-title-color:						$primary-color;
$stats-title-color:						$primary-color;
$content-top-border:					lighten($content-background, 10%);
$content-bottom-border:					darken($content-background, 10%);
$content-inner-border:					$content-bottom-border;

// Heading section
$heading-bg:							$primary-color;
$heading-border:						$heading-bg;
$heading-color:							$overlay-color;
$heading-link:							$overlay-color;
$heading-link-hover:					$overlay-color;

// Inputs
$input-text:							$text-color;	// Input text color
$input-bg:								$white-color;	// Input background
$input-border:							#c6c6c6;	// Input border color
$input-hover-text:						$input-text;
$input-hover-bg:						$input-bg;
$input-hover-border:					$secondary-color;
$input-focus-text:						$input-text;
$input-focus-bg:						$input-bg;
$input-focus-border:					$primary-color;
$input-border-radius:					2px;

$search-box-border:						#c6c6c6;	// Border for search box block
$search-box-border-header:				#ccc;		// Same as above, for search box in header
$search-box-shadow:						1px 1px 3px rgba(0, 0, 0, .1);	// Box-shadow for search box in header

// Buttons
$button-bg:								mix($block-background, $primary-color, 10%);
$button-border-radius:					3px;
$button-border:							$button-bg;
$button-icon:							$overlay-color;
$button-icon-hover:						$overlay-color;
$button-text:							$overlay-color;

$button-top-padding:					2px;
$button-side-padding:					8px;
$button-border-width:					1px;
$button-height:							$button-line-height + ($button-top-padding + $button-border-width) * 2;

$big-button-border-radius:				0;	// For big buttons and blocks like quick search
$big-button-variant-border-radius:		3px; // Big buttons variant;

// BBCode
$bbcode-border-radius:					0px;
$bbcode-background:						#fff;
$bbcode-background2:					#f4f4f4;
$bbcode-outer-border:					if($light, darken($bbcode-background, 7%), lighten($bbcode-background, 7%));
$bbcode-inner-border:					if($light, darken($bbcode-background, 5%), lighten($bbcode-background, 5%));
$bbcode-heading-text:					#666;

// Code colors
@function code-color($hue) {
	@return hsl($hue, saturation($primary-color), lightness($primary-color));
}
$bbcode-code-color:						code-color(128deg);

// Do not edit few lines below
$post-side:								if($profile-side == left, right, left);
