/*	
 *	Main stylesheet file
 *	-- stylesheet.css replacement --
 *	This file requires SASS compiler.
 */
 

// stylesheet variables
@import "styles/variables";

// stylesheet functions
@import "styles/functions";

// mixins 
@import "styles/mixins";


// layout
@import "styles/common";
@import "styles/links";
@import "styles/content";
@import "styles/buttons";
@import "styles/cp";
@import "styles/forms";
@import "styles/imageset";
@import "styles/colours";
@import "styles/mdl-badge";

// media queries
@media screen and (max-width: 700px) {
	@import "styles/responsive";
}

// print mode 
@media print {
	@import "styles/print";
}

// custom fixes
@import "styles/custom";